<div class="content-wrapper">
    <div>
        <h1>Sleeve 2</h1>
        <h2>The ultimate music accessory for your Mac</h2>
        <p style="font-size:20px;">Sleeve sits on the desktop, displaying and controlling the music you’re currently playing in
            <span><i class="fab fa-apple" aria-hidden="true"></i>Apple Music</span>,
            <span><i class="fab fa-spotify" aria-hidden="true"></i>Spotify</span>, and
            <span><i class="fa-music"></i>Doppler</span>
        </p>
    </div>
    <br>
    <br>
    <div class="rectangle-container">
        <span style="background-color:rgb(38, 35, 35);color:white;"><i class="fab fa-apple" aria-hidden="true"></i> MAC APP Store</span>
        <span>Buy Directly $5.99</span>
    </div>

    <div>
        <p style="color: rgb(147, 170, 190);">No subscriptions. No in-app purchases. Requires macOS 11 Big Sur or later.</p>
    </div>

    <div class="shelf-container">
        <img src="assets/images/ShelfCallout@2x.png" alt="Shelf Image" class="shelf-image">
        <div class="new-version">Now with shelves and a progress bar.See what's new in Sleeve 2.3<i class="fa fa-circle-arrow-right"></i></div>
    </div>
</div>
