<div class="content-wrapper">
    <h3>CUSTOMIZATION</h3>
    <h4>Countless ways to customize.</h4>
    <p>Customization is at the core of the Sleeve experience — choose from any combination of design choices, behaviors and settings to make Sleeve at home on your desktop.</p>
    <span><img src="assets/images/gridview.png" alt="not avaialble"></span>
    <div class="customize-container" *ngFor="let customize of services">
        <div class="left-content">
            <img [src]="customize.topimg" alt="Card image">
            <h1>{{customize.name}}</h1>
            <p>{{customize.paragraph}}</p>
        </div>
        <div class="right-content">
            <img [src]="customize.sideimg" alt="Card image" class="side-img">
        </div>
    </div>
    <div class="integration-header" style="color: red; margin-top: 15px;">INTEGRATIONS</div>
    <h1>Like, Scrobble.</h1>

</div>